[package]
name = "advanced_error_handling"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
env_logger = "0.9"
thiserror = "1.0"
anyhow = "1.0"
error-stack = "0.1"